<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css"> #MyTitle = {text-align: center;}</style>
    <style></style>
    <title>Roei's Sneaker Shop</title>
</head>
<body>
    <input type=button onClick="location.href='cart'"
 value='GO TO CART'>
    <input type=button onClick="location.href='/'"
 value='HOME'>
 <input type=button onClick="location.href='product'"
 value='PRODUCTS IN STOCK'>
	<h1 id = "MyTitle">Roei's Sneaker Shop</h1>
	<p>In my shop you may buy the best and most trendy sneakers that are to be found in the market! Have fun shopping!</p>
	<img src="static/secondproduct.jpg" style="width:25%;height:25%;"></img>
    <a href="product">IN STOCK</a>
    <img src="static/firstproduct.jpg" style="width:25%;height:25%;"></img>
    <p>SOLD OUT</p>
    <img src="static/thirdproduct.jpg" style="width:25%;height:25%;"></img>
    <p>SOLD OUT</p>
</body>
</html>