<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css"> #MyTitle = {text-align: center;}</style>
    <title>Roei's Sneaker Shop</title>
</head>
<body>
	<h1 id = "MyTitle">Roei's Sneaker Shop</h1>
	<p>In my shop you may buy the best and most trendy sneakers that are to be found in the market! Have fun shopping!</p>
	<img src="secondproduct.jpg"></img>
</body>
</html>